extends ./root

block pageTitle
    title Comments | React Gulp-Browserify workflow


block bodyContent
    div(id="content")


block jsIncludes
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js')
    script(src="js/pages/comments.bundle.js")