extends ./root

block pageTitle
    title Home | React Gulp-Browserify workflow


block bodyContent
    span Welcome
    div(id="content")


block jsIncludes
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js')
    script(src="js/pages/home.bundle.js")