extends ./root

block pageTitle
    title Home | React Gulp-Browserify workflow


block bodyContent
    span Welcome to this totally useless React Gulp-Browserify workflow test app.


block jsIncludes