doctype html
html
    head
        meta(charset="utf-8")
        block pageTitle
 
    body
        nav
            a(href="/") Home
            a(href="/users") Users

        block bodyContent

        block jsIncludes