extends ./root

block pageTitle
    title Users | React Gulp-Browserify workflow


block bodyContent
    div(id="userList-container")


block jsIncludes
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js')
    script(src="js/pages/users.bundle.js")